<div class="login-box">
  <h2>Code generator</h2>
  <form [formGroup]="form">
    <div class="user-box">
      <input (keyup)="validCourse()" class="upper" formControlName="course" name="course">
      <label for="course" type="text" class="label">Create CCD courses</label>
      <button (click)="addCourse()" [disabled]="validCourse() || GetForm['course'].errors">add</button>
    </div>
    <div class="user-box">
      <input formControlName="teacher" name="teacher">
      <label for="teacher" type="text" class="label">Create CCD teachers</label>
      <button (click)="addTeacher()" [disabled]="validTeacher() || GetForm['teacher'].errors">add</button>
    </div>
    <div class="user-box">
      <input formControlName="period" name="period">
      <label for="period" type="text" class="label">Create CDD Periods</label>
      <button (click)="addPeriod()" [disabled]="validPeriod() || GetForm['period'].errors">add</button>
    </div>
    <label for="selectCourse" type="text" class="label">Select CCD courses</label>
    <div class="user-box">
      <select formControlName="selectCourse" name="valueCheck"
        (change)="selectCourse()">
        <option disabled>Select Any </option>
        <option *ngFor="let course of coursesDCC" [value]="course">
          {{ course }}
        </option>
      </select>
    </div>
    <label for="selectTeacher" type="text" class="label">Select CCD teacher</label>
    <div class="user-box">
      <select formControlName="selectTeacher" name="valueCheck"
        (change)="selectTeacher()">
        <option disabled>Select Any </option>
        <option *ngFor="let teacher of teachersDCC" [value]="teacher">
          {{ teacher }}
        </option>
      </select>
    </div>
    <label for="selectPeriod" type="text" class="label">Select period</label>
    <div class="user-box">
      <select formControlName="selectPeriod" name="valueCheck"
        (change)="selectPeriod()">
        <option disabled>Select Any </option>
        <option *ngFor="let period of periodsDCC" [value]="period">
          {{ period }}
        </option>
      </select>
    </div>
    <div class="user-box">
      <input formControlName="students" name="students">
      <label for="students" type="text" class="label">Write total students</label>
    </div>
    <button (click)="generateCodes()">
      Generate
    </button>
    <textarea formControlName="codeGenerated" class="input" cols="30" rows="10"></textarea>
  </form>
</div>